[ req ]
prompt             = no
distinguished_name = server_distinguished_name
req_extensions     = req_ext
x509_extensions	= v3_req
attributes		= req_attributes
 
[ server_distinguished_name ]
commonName              = CQU_seriver
stateOrProvinceName     = ChongQing
countryName             = CN
organizationName        = CQU
organizationalUnitName  = CQU IT seriver
 
[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
 
[ req_attributes ]
 
[ req_ext ]
subjectAltName      = @alternate_names

[ alternate_names ]
DNS.1        = cqu.edu.cn